include CHANGELOG
include INSTALL
include LICENSE
include MANIFEST.in
include README
include AUTHORS
recursive-include docs *
recursive-include jabba/static *
recursive-include jabba/templates *
recursive-include jabba/helpdesk/templates *
prune jabba/registration
prune docs/_build
