{% extends "helpdesk/base.html" %}
{% load i18n %}
{% block left %}
<div class="container">
	<h2>{% trans "Open tasks" %}</h2>
	{% if open_tasks %}
  <table cellspacing="0">
    <thead>
      <tr>
        <th>{% trans "Description" %}</th>
        <th>{% trans "Assigned to" %}</th>
        <th>{% trans "Created" %}</th>
      </tr>
    </thead>
    <tbody>
    {% for task in open_tasks %}
    <tr class="{% cycle 'row1' 'row2' %}">
      <td><a href="{% url helpdesk_task_detail task.id %}">{{ task.description }}</a></td>
      {% if task.assigned_to %}
      <td>{{ task.assigned_to }}</td>
      {% else %}
      <td>{% trans "Unassigned" %}</td>
      {% endif %}
      <td>{{ task.created|timesince }} {% trans "ago" %}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
	{% else %}
	<div class="info">
	  <p>{% trans "There are no open tasks here at the moment." %}</p>
	</div>	
	{% endif %}
</div> <!-- container -->
<div class="container">
	<h2>{% trans "Closed tasks" %}</h2>
	{% if closed_tasks %}
  <table cellspacing="0">
    <thead>
      <tr>
        <th>{% trans "Description" %}</th>
        <th>{% trans "Closed by" %}</th>
        <th>{% trans "Closed" %}</th>
      </tr>
    </thead>
    <tbody>
    {% for task in closed_tasks %}
    <tr class="{% cycle 'row1' 'row2' %}">
      <td>{{ task.description }}</td>
      <td>{{ task.closed_by }}</td>
      <td>{{ task.closed|timesince }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
	{% else %}
	<div class="info">
  	<p>{% trans "There are no closed tasks here at the moment." %}</p>
	</div>	
	{% endif %}
</div> <!-- container -->
{% endblock %}
{% block rigth %}
<div class="container">
  <h2>{% trans "New task" %}</h2>
  <form  method="post" action="{% url helpdesk_task_user_add %}">{% csrf_token %}
  <ul>
    {{ user_task_form.as_ul }}
    <li>
      <input type="submit" value="{% trans "Submit"%}"/>
    </li>
  </ul>
  </form>
</div> <!-- container -->
{% endblock %}